@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Mono:wght@300&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: inherit;
    color: inherit;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto Mono", monospace;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 1.2vw;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    height: 5%;
    position:relative;
}
#logo a img {
    width: 20%;
}
#logo a {
    position: fixed;
}
#logo {
    background: transparent;
}
li a {
    margin: 2em;
}
li a:hover {
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    cursor: pointer;
}
.nav_links {
    display:flex;
    height: 100%;
    align-items: center;
}

hr {
    color: white;
    width: 64%;
    height: 0.1px;
    border-bottom:none;
    border-top-color: white;
    position: relative;
}
.content, .header {
    margin:auto;
    width:64%;
    position:relative
}
#experience .item {
    max-width: 40%;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tinybox {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
} 
.content {
    padding: 3% 0% 5%;
    scroll-margin-top: 10em;
}
.header {
    padding: 10% 0% 10%;
}
.header p {
    width: 80%;
}
h1 {
    font-size: 6vw;
    padding-bottom:8%;
    display: inline-block;
    font-family: 'EB Garamond', serif;
}
p {
    width: 100%;
}
h2 {
    font-size: 3vw;
    padding: 3% 0% 6%;
    font-family: 'EB Garamond', serif;
}
.aboutme {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.aboutmetext {
    width:100%;
}
.aboutmeimg {
    width:60%;
    border-radius:5%;
    margin-left:2%;
}
.content ul {
    margin: 5%;
}
.selfie {
    width:100%;
    border-radius: 4%;
}
.list {
    list-style: inside;
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item {
    margin: 2% 2% 0% 2%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    padding: 2%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4 {
    font-size:1.5vw;
    padding: 1% 0% 8% 0%;
    font-family: 'EB Garamond', serif;
}
.item p {
    font-size: 1.1vw;
}
.item a img {
    padding: 3%;
    align-self: center;
    width: 30px;
    float:right;
}
#experience .items .item .tinytext {
    width:max-content;
}
.tinytext {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15% 0% 0% 0%;
    width: min-content;
}
.footer p{
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.6);
    padding: 2% 0% 0% 0%;
    text-align: center;
}
.footer {
    padding: 10% 0% 3% 0%;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactlinks {
    padding: 20px 10px 0 10px;
}
.reveal {
    position:relative;
    transform: translateY(75px);
    opacity: 0;
    transition:all 2s;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
@media (max-width: 1024px) {
    body {
        font-size: 1em;
    }
    h1 {
        font-size: 3em;
    }

}
    
@media (max-width: 768px) {
    .content, .header {
        width:80%;
        padding: 10% 0% 15% 0%;
    }
    .navbar {
        display: none;
    }
    #logo {
        display:block;
        margin: 5%;
    }
    #logo a {
        position: relative;
    }
    hr {
        width:80%;
    }
    li a {
        margin: 1em;
    }
    h1 {
        padding:25% 0% 15% 0%;
        font-size: 12vw;
    }
    h2 {
        font-size: 5vw;
    }
    h4 {
        font-size: 3vw;
    }
    .item p, .tinytext, body {
        font-size: 2vw;
    }
}
@media (max-width: 575px) {
    body {
        background-image: url("images/mbg.png");
    }
    h2 {
        font-size: 7vw;
        padding: 0% 0% 10% 0%;
    }
    h4 {
        font-size: 5vw;
    }
    .item p, .tinytext, body {
        font-size: 4vw;
    }
    .header {
        padding: 5% 0% 30% 0%;
    }
    .header p {
        width: 95%;
        font-size: 4vw;
    }
    .aboutme {
        flex-direction: column;
    }
    .aboutmeimg {
        display: none;
    }
    .items {
        flex-direction: column;
        align-items: center;
    }
    .item {
        max-width: 80%;
        padding: 7%;
        margin:5%;
    }
    #experience .item {
        max-width: 80%;
    }
    #logo a {
        position:relative;
    }
    .footer {
        padding: 10% 0% 10% 0%;
    }
}
